<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('PLATE_AFTER_PRINT') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.electroplater.plate_after_print">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('PLATING_TIME') }}</label>
        <div class="controls">
            <input type="number" step="any" min="0" class="input-block-level" data-bind="value: settings.plugins.electroplater.plating_time">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('PLATING_VOLTAGE') }}</label>
        <div class="controls">
            <input type="number" step="any" min="0" max="20" class="input-block-level" data-bind="value: settings.plugins.electroplater.plating_voltage">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('MAX_CURRENT') }}</label>
        <div class="controls">
            <input type="number" step="any" min="0" max="5" class="input-block-level" data-bind="value: settings.plugins.electroplater.max_current">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('BED_TEMPERATURE') }}</label>
        <div class="controls">
            <input type="number" step="any" min="0" class="input-block-level" data-bind="value: settings.plugins.electroplater.bed_temperature">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('SOLUTION_VOLUME') }}</label>
        <div class="controls">
            <input type="number" step="any" min="0" class="input-block-level" data-bind="value: settings.plugins.electroplater.solution_volume">
        </div>
    </div>
</form>